@import url("https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Overpass", sans-serif;
}
body {
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.wrapper {
  display: grid;
  grid-template-rows: 78px 50px 96px 83px;
  padding: 32px;
  border-radius: 30px;
  width: 412px;
  height: 416px;
  background: radial-gradient(
    98.96% 98.96% at 50% 0%,
    rgb(35, 42, 52) 0%,
    rgb(24, 30, 39) 100%
  );
  .circle {
    width: 48px;
    height: 48px;
    background: #262e38;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  h1 {
    font-weight: 700;
    font-size: 28px;
    color: #fff;
  }
  p {
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #969fad;
  }
  .btn-numbers {
    max-width: 341px;
    height: 51px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    button {
      padding: 14px 21px 13px 21px;
      border-radius: 100%;
      border: none;
      width: 51px;
      height: 51px;
      font-weight: 700;
      font-size: 16px;
      line-height: 150%;
      letter-spacing: 0.01em;
      text-align: center;
      color: #7c8798;
      background: #262e38;
      cursor: pointer;
    }
    button:focus {
      background: #7c8798;
      color: #fff;
    }
    button:hover {
      background: #fc7614;
      color: #fff;
      transition: 0.4s;
    }
  }
  a {
    text-decoration: none;
    button {
      cursor: pointer;
      border: none;
      background: #fc7614;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 22px;
      max-width: 341px;
      width: 100%;
      height: 45px;
      font-weight: 700;
      font-size: 15px;
      letter-spacing: 0.13em;
      color: #fff;
    }
    button:hover {
      background: #fff;
      color: #fc7614;
      transition: 0.4s;
    }
  }
}
@media screen and (max-width: 600px) {
  .wrapper {
    width: 327px;
    height: 360px;
    padding: 24px;
    grid-template-rows: 60px 47px 95px 66px;
    .circle {
      width: 40px;
      height: 40px;
    }
    h1 {
      font-size: 24px;
    }
    p {
      font-size: 14px;
      line-height: 157%;
    }
    .btn-numbers {
      max-width: 281px;
      height: 42px;
      button {
        padding: 10px 17.29px 8.71px 17px;
        width: 42px;
        height: 42px;
        font-size: 14px;
        line-height: 171%;
        letter-spacing: 0.01em;
      }
    }
  }
}
